body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(116, 44, 44);
  flex-wrap: wrap;
}

header h1 a {
  text-decoration: none;
  color: whitesmoke;
  padding: 20% 30%;
}

nav {
  padding-top: 7%;
}

.navlink {
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
}

