body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(116, 44, 44);
  flex-wrap: wrap;
}

header h1 a {
  text-decoration: none;
  color: whitesmoke;
  padding: 20% 30%;
}

nav {
  padding-top: 4.5%;
}

.navlink {
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  margin-right: 50px;
}

.about {
  display: flex;
  align-items: center;
}

#avatar {
  height: 250px;
  border-radius: 15px;
  margin-left: 1%;
}

#about-me {
  padding: 5% 35% 5% 2%;
  font-size: 18px;
}

#footer {
  display: flex;
  justify-content: space-around;
  padding: 0 40% 0 40%;
  margin-top: 24.7%;
  background-color: rgb(116, 44, 44);
}

#footer a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
  padding: 6%;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#codequiz {
  width: 500px;
  height: 270px;
}

#letstalkrecipes {
  width: 450px;
  height: 275px;
}

#notetaker {
  width: 500px;
  height: 270px
}

#techblog {
  width: 500px;
  height: 300px;
}

#budgettracker {
  width: 500px;
  height: 325px;
}

#ohsnap {
  width: 500px;
  height: 325px;
}

.view {
  text-decoration: none;
  color: white;
  background-color: rgb(116, 44, 44);
  padding: 10px;
  margin-right: 5px;
}

#resume {
  margin-left: 10px;
  font-size: 18px;
}

#viewresume {
  text-decoration: none;
  background-color: rgb(116, 44, 44);
  color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

label {
  font-size: 18px;
  margin-right: 5px;
}

.input {
  margin: 5px 0 3px 10px;
}

#submitform {
  margin: 10px 0 0 150px;
}

.error-text {
  margin-left: 10px;
}